[project]
	description = Script de reboot de la bbox Bouygues Telecom.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Cyrille Nofficial (cyrilix)
[access "refs/for/refs/*"]
	read = group user/Cyrille Nofficial (cyrilix)
	push = group user/Cyrille Nofficial (cyrilix)
	label-Code-Review = -2..+2 group user/Cyrille Nofficial (cyrilix)
	label-Verified = -1..+1 group user/Cyrille Nofficial (cyrilix)
	rebase = group user/Cyrille Nofficial (cyrilix)
	removeReviewer = group user/Cyrille Nofficial (cyrilix)
	submit = group user/Cyrille Nofficial (cyrilix)
[access "refs/heads/*"]
	read = group user/Cyrille Nofficial (cyrilix)
	create = group user/Cyrille Nofficial (cyrilix)
	push = +force group user/Cyrille Nofficial (cyrilix)
	pushMerge = group user/Cyrille Nofficial (cyrilix)
[access "refs/tags/*"]
	push = +force group user/Cyrille Nofficial (cyrilix)
	pushTag = group user/Cyrille Nofficial (cyrilix)
	pushSignedTag = group user/Cyrille Nofficial (cyrilix)
